[Unit]
Description={{ media_app_name | capitalize }} Daemon
RequiresMountsFor={{ media_app_dirs | default([]) | join(' ') }}
Wants={{ media_app_wants | default([]) | join(' ') }}
After={{ media_app_after | default([]) | join(' ') }}

[Service]
Type=simple
User={{ media_app_owner }}
Group={{ media_app_group }}
UMask=0002
WorkingDirectory=/srv/{{ media_app_name }}
RuntimeDirectory={{ media_app_name }}

ExecStart={{ media_app_service_exec }}

# Restart & shutdown behavior
Restart=on-failure
RestartSec=5s
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=30s

# Journald
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ media_app_name }}
LogRateLimitIntervalSec=30s
LogRateLimitBurst=300

# Core hardening
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectClock=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectProc=invisible
ProcSubset=pid
RestrictSUIDSGID=true
LockPersonality=true
MemoryDenyWriteExecute=false
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
CapabilityBoundingSet=
AmbientCapabilities=
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service @basic-io @file-system @network-io @process @signal @memlock
SystemCallFilter=~ @mount @raw-io @reboot @swap @module @debug

# Bind Mounts
{% for path in media_app_bind_ro | default([]) %}
BindReadOnlyPaths={{ path }}
{% endfor%}

{% for path in media_app_bind_rw | default([]) %}
BindPaths={{ path }}
{% endfor%}

[Install]
WantedBy=multi-user.target
